<div class="topbar">
    <a href="/" class="homelink">â† Home</a><br>
    <h3>Users signed up: {{userNo}}<br>Clips submitted: {{clipNo}}</h3>
</div>

<div class="gif">
    <img src="/images/blake.gif" width="640px">
</div>
