<div class="sidebar">
    <h1>Submit a Clip</h1>
    {{#if error}}
    <p>{{error}}!<br>Please try again</p>
    {{/if}}
    {{#unless user}}
    You must be logged in to post a Clip!
    <a href="/login">Login</a><br><br>
    New user? Sign up <a href="/signup">here</a><br>
    {{/unless}}
    {{#if user}}
        <form method="POST" action="/submit">
            Youtube Link: <br><input type="text" name="url"><br><br>
            Title: <br><input type="text" name="title"><br><br>
            Team: <br><select name="team">
                <option value="Atlanta Hawks">Atlanta Hawks</option>
                <option value="Boston Celtics">Boston Celtics</option>
                <option value="Brooklyn Nets lol">Brooklyn Nets</option>
                <option value="Charlotte Hornets">Charlotte Hornets</option>
                <option value="Chicago Bulls">Chicago Bulls</option>
                <option value="Cleveland Cavaliers">Cleveland Cavaliers</option>
                <option value="Dallas Mavericks">Dallas Mavericks</option>
                <option value="Denver Nuggets">Denver Nuggets</option>
                <option value="Detroit Pistons">Detroit Pistons</option>
                <option value="Golden State Warriors">Golden State Warriors</option>
                <option value="Houston Rockets">Houston Rockets</option>
                <option value="Indiana Pacers">Indiana Pacers</option>
                <option value="Los Angeles Clippers">Los Angeles Clippers</option>
                <option value="Los Angeles Lakers">Los Angeles Lakers</option>
                <option value="Memphis Grizzlies">Memphis Grizzlies</option>
                <option value="Miami Heat">Miami Heat</option>
                <option value="Milwaukee Bucks">Milwaukee Bucks</option>
                <option value="Minnesota Timberwolves">Minnesota Timberwolves</option>
                <option value="New Orleans Pelicans">New Orleans Pelicans</option>
                <option value="New York Knicks">New York Knicks</option>
                <option value="Oklahoma City Thunder">Oklahoma City Thunder</option>
                <option value="Orlando Magic">Orlando Magic</option>
                <option value="Philadelphia 76ers">Philadelphia 76ers</option>
                <option value="Phoenix Suns">Phoenix Suns</option>
                <option value="Portland Trail Blazers">Portland Trail Blazers</option>
                <option value="Sacramento Kings">Sacramento Kings</option>
                <option value="San Antonio Spurs">San Antonio Spurs</option>
                <option value="Toronto Raptors">Toronto Raptors</option>
                <option value="Utah Jazz">Utah Jazz</option>
                <option value="Washington Wizards">Washington Wizards</option><br>
            </select><br><br>
            <input type="submit" value="Post Clip"><br>
        </form>
    {{/if}}
    <a class="bottom-button" href="/">← Home</a>
</div>

<div class="main">
    <br><h2>LeBron is so excited you're submitting a clip</h2><br>
    <img src="/images/lebron2.gif" width="640px">
</div>
